/* ******* */
/** HEADER SECTION */
/* ****** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* fixed height - because we want the header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/* ******* */
/** NAVIGATION */
/* ****** */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  color: white;
  border-radius: 9px;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* ******* */
/** HERO SECTION */
/* ****** */

.section-hero {
  /* lighter version(tint) of our primary color */
  background-color: #fdf2e9;
  /* we need a lot of space between different sections to diffrentiate */
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  gap: 9.6rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;

  /* to overlap images we can add a negative margin */
  margin-right: -1.6rem;
}

.delivered-imgs img:last-child {
  /* setting the margin right on the last image to zero so that there is some gap between the image and paragraph */
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* ******* */
/** FEATURED IN SECTION */
/* ****** */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  color: #888;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;

  /* changing the color of the images to grey(by first changing it to black and then reducing its opacity) */
  filter: brightness(0);
  opacity: 50%;
}

/* ******* */
/** HOW IT WORKS SECTION */
/* ****** */

.section-how {
  padding: 9.6rem 0;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::after,
.step-img-box::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* a round circle behind step-img-box */
.step-img-box::before {
  z-index: -2;

  width: 60%;
  /* height: 60%; */

  /* 60% of parent widht */
  padding-bottom: 60%;
  background-color: #fdf2e9;
}

/* another round circle behing step-img-box */
.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  /* slightly darker version than we used before */
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 35%;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}
